<html>

<head>
    <title>Bookmarks</title>
</head>

<body>
    <ul>
        <% @bookmarks.each do |bookmark| %>
            <li>
                <%= bookmark %>
            </li>
            <% end %>
    </ul>

    <form action="/bookmarks/new">
        <input type="submit" value="Create new bookmark">
    </form>
</body>

</html>