<html>

<head>
  <title>Add bookmark</title>
</head>

<body>
  <form action="/bookmarks/add" method="post">
    <label for="url">URL</label>
    <input type="text" name="url" maxlength="60">
    <input type="submit" value="Add">
  </form>
</body>

</html>